version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"  # Location of the workflows
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "npm"
    directory: "/"  # If you include JS tools like Husky, Commitlint
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"