version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    {% if enable_automerge_minor %}
    automerge: true
    automerge-type: "minor"
    {% endif %}
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    {% if enable_automerge_minor %}
    automerge: true
    automerge-type: "minor"
    {% endif %}

notifications:
  email:
    enabled: false