
name: Update Terraform Docs


on:
  pull_request:
    paths:
      - 'variables.tf'
      - 'outputs.tf'
      - 'README.md'

notifications:
  email:
    enabled: false

jobs:
  terraform-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: terraform-docs/gh-actions@v1
        with:
          output-file: README.md
          output-method: inject
          git-push: true
