name: Test & Coverage (go)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    name: Test and Coverage - go (${default_version})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "${default_version}"

      - name: Run tests
        run: go test -coverprofile=coverage.out ./...

      - name: Convert to coverage summary
        run: go tool cover -func=coverage.out > coverage-go.txt

      - name: Generate coverage badge
        uses: tj-actions/coverage-badge@v2
        with:
          output: coverage-go-badge.svg
          coverage-file: coverage-go.txt

      - name: Upload badge to wiki
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: $${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: wiki
          destination_dir: coverage
          keep_files: true

      - name: Comment PR with coverage summary
        uses: MishaKav/jest-coverage-comment@v1
        with:
          coverage-summary-path: coverage-go.txt
          token: $${{ secrets.GITHUB_TOKEN }}
          title: "go Coverage Summary"
        if: github.event_name == 'pull_request'
